
<!DOCTYPE html>
<html>
<head>
<title>Home » <%= bot.user.username %> Dashboard</title>
<meta property="og:site_name" content="Login with discord">
<meta property="og:title" content="<%= bot.user.username %> Dashboard">
<meta property="og:image" content="<%= bot.user.displayAvatarURL({dynamic: true, size: 128}) %>">
<meta property="og:description" content="DGH BOT DASHBOARD">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="<%= bot.user.username %> Dashboard">
<meta property="twitter:image" content="<%= bot.user.displayAvatarURL({dynamic: true, size: 128}) %>">
<meta property="twitter:description" content="DGH BOT DASHBOARD">
<meta name="theme-color" content="#7289da">
<meta http-equiv="refresh" content="0; url=/callback">  
</html>
  